body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.62;
    color: rgba(#000, 0.87);
    background: #f8f8f8;
}

h1,
.h1 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}
